{{>layout/header}}


<!--<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>-->

<div class="container">
    <h1>설문조사 등록</h1>
    <form>
        <fieldset>
            <legend>Legend</legend>
            <!--설문조사 제목 -->
            <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label">제목</label>
                <input type="text" class="form-control" id="title" placeholder="설문조사 제목을 입력해주세요.">
            </div>
            <!--설문조사 설명 -->
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">설문조사 설명</label>
                <input type="text" class="form-control" id="explain ask" aria-describedby="ask preview" placeholder="설문조사에 대한 간단한 설명을 입력해주세요." >
            </div>
        </fieldset>
        <br/>
        <!--설문조사 항목-->
        <legend>설문조사 항목</legend>
        <fieldset style="border:1px solid;border-radius:10px">
            <div class="form-group" style="margin:10px">
                <label for="title" class="col-sm-2 col-form-label">Question</label>
                <input type="text" class="form-control" id="title" placeholder="질문을 입력해주세요.">
            </div>
            <div class="form-group" style="margin:10px">
                <label for="answerForm" class="col-sm-2 col-form-label">Answer</label>
                <div class="form-group" id="answerForm"style="width:150px;">
                    <select class="form-select" id="selectAswForm" >
                        <option>TEXT</option>
                        <option>RADIO</option>
                        <option>CHECKBOX</option>
                    </select>
                </div>
                <!--text-->
                <!--radio-->
                <fieldset class="form-group">
                    <legend class="mt-4">Radio Form</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            <input type="text" class="form-control" id="answerRadio" aria-describedby="emailHelp" placeholder="답변 항목을 입력해주세요" style="width:500px;">
                        </label>
                        <button type="button" class="btn btn-outline-danger" id="addRadioBtn">add</button>
                    </div>
                </fieldset>
                <!--checkbox-->
                <fieldset class="form-group">
                    <legend class="mt-4">Checkboxes Form</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <input type="text" class="form-control" id="answerRadio" aria-describedby="emailHelp" placeholder="답변 항목을 입력해주세요" style="width:500px;">
                        </label>
                        <button type="button" class="btn btn-outline-danger" >add</button>
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <button type="button" class="btn btn-danger disabled" id="addBtn">+ ADD</button>



        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{{>layout/footer}}